<!-- Start Footer Section -->
<footer
	class="footer footer-v3">
	<!-- Start Footer Topbar -->
	<div class="footer-top clearfix">
		<div class="container">
			<div class="row no-gutters footer-links">
				<div class="col-12 col-sm-12 col-md-4 col-lg-3 menu-items">
					<h4>Useful Links</h4>
					<ul class="linklist">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="about-us.html">About us</a>
						</li>
						<li>
							<a href="faqs.html">FAQs</a>
						</li>
						<li>
							<a href="#">Parts Shop</a>
						</li>
						<li>
							<a href="contact-us.html">Contact</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-3 menu-items">
					<h4>Help Links</h4>
					<ul class="linklist">
						<li>
							<a href="login.html">Login</a>
						</li>
						<li>
							<a href="wishlist.html">My Wishlist</a>
						</li>
						<li>
							<a href="order-tracking.html">Order Traking</a>
						</li>
						<li>
							<a href="#">Returns</a>
						</li>
						<li>
							<a href="terms-and-conditions.html">Terms & Conditions</a>
						</li>
						<li>
							<a href="#">Delivery</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-sm-12 col-md-4 col-lg-3 contact">
					<h4>Contact Information</h4>
					<ul class="linklist contact-info d-flex flex-column">
						<li>
							<i class="icon ti-location-pin"></i>
							<span>No 40 Baria Street 133/2,
								<br/>NewYork, USA</span>
						</li>
						<li>
							<i class="icon fa fa-phone"></i>
							<a href="tel:+011234567890">(+01) 123 456 7890</a>
						</li>
						<li>
							<i class="icon ti-email"></i>
							<a href="mailto:info@example.com">info@example.com</a>
						</li>
					</ul>
				</div>
				<div
					class="col-12 col-sm-12 col-md-12 col-lg-3 footer-newsletter">
					<!-- Start Newsletter -->
					<div class="newsletter">
						<h3>Sign up & get Latest Offers</h3>
						<form action="#" class="needs-validation" method="post">
							<div class="form-group m-0 position-relative">
								<input type="text" class="form-control" placeholder="Enter your email address..." required/>
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-paper-plane-o"></i>
								</button>
							</div>
						</form>
					</div>
					<!-- End Newsletter -->
					<!-- Start Social Media -->
					<div class="social-media">
						<ul class="d-flex flex-row">
							<li>
								<a href="#" title="Facebook">
									<i class="ti-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Twitter">
									<i class="ti-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Youtube">
									<i class="ti-youtube"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Google Plus">
									<i class="ti-google"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Linkedin">
									<i class="ti-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="#" title="Instagram">
									<i class="ti-instagram"></i>
								</a>
							</li>
						</ul>
					</div>
					<!-- End Social Media -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Topbar -->

	<!-- Start Footer Bottom -->
	<div class="footer-bottom clearfix">
		<div class="container clearfix">
			<div class="payment-icons pull-right">
				<i class="fa fa-cc-visa" aria-hidden="true"></i>
				<i class="fa fa-cc-amex" aria-hidden="true"></i>
				<i class="fa fa-cc-mastercard" aria-hidden="true"></i>
				<i class="fa fa-cc-discover" aria-hidden="true"></i>
				<i class="fa fa-cc-paypal" aria-hidden="true"></i>
			</div>
			<div class="copyright-content pt-md-1 pull-left">
				<span class="content">
					Copyright &copy; 2022 Posh Auto Parts. All Rights Reserved.</span>
			</div>
		</div>
	</div>
	<!-- End Footer Bottom -->
</footer>
<!-- End Footer Section -->
